*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body    {
    width: 100%;
    min-height: 100vh;
}

.container  {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.25fr);
    grid-template-areas: 
    "main main main main"
    "box2 box2 box1 box1"
    "box4 box4 box3 box3"
    "box5 box5 box6 box6"
    "box7 box7 box7 box7"
    "box9 box9 box9 box9"
    "foot foot foot foot"
    ;
}


main    {
    grid-area: main;
}

h1  {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 30%;
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 2.5em;
    letter-spacing: .3em;
    font-weight: 900;
}

.agency-name {
    position: absolute;
    top: 25px;
    left: 40px;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    font-weight: 800;
}

.header-right-side   {
    position: absolute;
    top: 25px;
    right: 16px;
    font-family: 'Barlow', sans-serif;
}
.header-links   {
    color: white;
    text-decoration: none;
    padding: 20px;
}

#btn  {
    margin: 10px;
    background-color: lightgray;
    border-radius: 20px;
    border-color: lightgray;
    height: 40px;
    width: 110px;
    border-style: solid;
    margin: 0;
    font-family: 'Fraunces', serif;
}

#main-img   {
    width: 100vw;
    z-index: 0;
}

#box1   {
    grid-area: box1;
    margin-top: -4px;
}

#box2   {
    grid-area: box2;
}

#box3   {
    grid-area: box3;
}

#box4   {
    grid-area: box4;
    margin-top: -4px;
}

#box5   {
    grid-area: box5;
    margin-top: -4px;
}

#box6   {
    grid-area: box6;
    margin-top: -4px;
}

#box7   {
    grid-area: box7;
    height: 50px;
}

#box8   {
    grid-area: box8;
}

.box9   {
    grid-area: box9;
}

#box10   {
    grid-area: box10;
}

#box11   {
    grid-area: box11;
}

#box12   {
    grid-area: box12;
}

.small-img  {
    width: 100%;
}

/* .big-img    {
    width: 50%;
} */

#small-img  {
    display: flex;
    flex-direction: row;
}

#arrow-down {
    position: absolute;
    top: 45%;
    left: 50%;
}

#transform-title    {
    font-family: "Fraunces", serif;
    font-size: 3.4em;
    text-align: left;
    /* text-align: center; */
    /* margin-top: 80px; */
    margin-left: 70px;
    padding-top: 100px;
}

#transform-paragraph  {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    padding-top: 70px;
    padding-left: 75px;
    color: hsl(213, 9%, 39%);
    line-height: 1.6em;
}


#stand-out-paragraph {
    font-size: 1.25em;
    padding-top: 40px;
    padding-left: 75px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: hsl(213, 9%, 39%);
    margin-top: 40px;
    line-height: 1.6em;
}


#stand-out-title    {
    font-family: "Fraunces", serif;
    /* text-align: center; */
    /* font-size: 35px; */
    font-size: 40px;
    padding: 20px;
    /* margin: 20px; */
}

#learn-transform  {
    font-family: "Fraunces", serif;
    color: black;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-thickness: 0.4em;
    text-decoration-color: hsl(59, 94%, 61%);
}

#learn-stand-out  {
    font-family: "Fraunces", serif;
    color: black;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-thickness: 0.3em;
    text-decoration-color:  hsl(7, 78%, 81%);
}

/* .graphic-design {
    text-align: center;
    margin-top: -12rem;
    font-family: "Fraunces", serif;
    font-weight: 700;
} */

.graphic-design {
    color:  hsl(167, 40%, 24%);
    font-family: 'Barlow', sans-serif;
    text-align: center;
    position: absolute;
    left: 170px;
    top: 2350px;
    line-height: 1.6rem;
}

.photography    {
    font-family: 'Barlow', sans-serif;
    color: hsl(198, 62%, 26%);
    text-align: center;
    position: absolute;
    left: 925px;
    top: 2350px;
    line-height: 1.6rem;
}
.titles {
    font-family: "Fraunces", serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
}

#testimonials   {
    color:hsl(213, 9%, 39%);
    font-family: "Fraunces", serif;
}

#client-testimonials    {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 50px 75px 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.client-photo   {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 40%;
}
.testimonials {
    font-weight: 700;
    letter-spacing: .5em; 
    text-align: center;
    padding: 65px;
}
.client-praise   {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color:  hsl(213, 9%, 39%);
    font-weight: 600;
}
.client-name    {
    font-family: 'Fraunces', serif;
    text-align: center;
}
.client-title   {
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    text-align: center;
}




footer  {
    background-color: hsl(168, 44%, 65%);
    font-family: 'Barlow', sans-serif;
    grid-area: foot;
    margin-top: -4px;
}
#org-title  {
    text-align: center;
    color:  hsl(167, 40%, 24%);
    font-size: 2em;
    font-weight: 700;
    padding: 40px 20px 40px 20px;
    margin-top: 20px;
}
#footer-links   {
    text-align: center;   
}
.one-footer-link    {
    text-decoration: none;
    color:hsl(167, 40%, 24%);
    padding: 20px;
    margin-top: 40px;
}
#socials    {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.one-social-icon    {
    margin: 10px;
}
.one-social-icon:hover  {
    cursor: pointer;
    background-color:hsl(210, 4%, 67%);
}